/* Ресетирање */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    height: 100vh;
    overflow-x: hidden; /* Мал додаток за да не ти се појави случаен скрол лево-десно */
}

/* Go vleceme menito vrz slikata da bide vidlivo i prozirno */
#navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Го додаваме истиот простор како на главната страна за да биде 100% идентично */
    padding: 2.5rem 4rem; 
}

/* Stiliziranje na glavnata sekcija so slikata */
.story-section {
    position: relative;
    background-image: url('../journey/journeysliki/journey.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.story-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25); /* затемнување */
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.5); /* внатрешна сенка */
}
/* Stiliziranje na tekstot */
.story-content h2 {
font-family: 'Lato', sans-serif;
    font-size: 3.5rem; /* Golem i vpecatliv tekst (okolu 72px) */
    font-weight: 400; 
    color: #ffffff; /* Bela boja */
    letter-spacing: 1px;
    margin: 0;
    text-align: center; /* Ako tekstot padne vo dva reda, ke bide na sredina */
    /* Blaga temna senka pozadi bukvite za da bidat citlivi i vrz svetli delovi od slikata */
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5); 
}

/* Responzivnost: Go namaluvame tekstot za na mobilni telefoni za da ne izleze od ekranot */
@media (max-width: 768px) {
    .story-content h2 {
        font-size: 2.5rem; 
        padding: 0 20px; /* Malku prostor od stranite */
    }
}